<?xml version="1.0"?>
<package>
  <deployChannels>
    <deployChannel name="UAT" targetServerName="10.4.8.61" />
    <deployChannel name="PROD" targetServerName="WCSQL11\WCSQLDB11" />
    <deployChannel name="DEV" targetServerName="(local)" />
  </deployChannels>
  <paths>
    <dbPath>Databases</dbPath>
    <ssasPath>Runtime\SSAS</ssasPath>
    <configPath>Runtime\Config</configPath>
  </paths>
  <databases>
    <database name="MyCompany.XYZ.TheReleasedApp.Retail.AuthentDB" />
    <database name="MyCompany.XYZ.TheReleasedApp.Retail.IrisDB" />
    <database name="MyCompany.XYZ.TRA.Retail.NotificaitonsDB" />
    <database name="MyCompany.XYZ.TheReleasedApp.Retail.StagingDB" />
    <database name="MyCompany.XYZ.TRA.Retail.ExportManagerDB" />
    <database name="MyCompany.XYZ.TheReleasedApp.Retail.ReconDB" />
    <database name="MyCompany.XYZ.TheReleasedApp.Retail.ReconDB" parameters="&quot;/TargetServerName:`&quot;$targetServerName`&quot;,/TargetDatabaseName:`&quot;TheReleasedAppVAS`&quot;&quot;" />
  </databases>
  <cubes>
    <cube name="MyCompany.Recon.EFT.SSASCube"
          folder="Recon EFT"
          databaseName="Retail Recon EFT"
          deploymentError="Deploying EFT SSAS database failed" />
    <cube name="MyCompany.Recon.VAS.SSASCube"
          folder="Recon VAS"
          databaseName="Retail Recon VAS"
          deploymentError="Deploying VAS SSAS database failed" />
    <cube name="MyCompany.TheReleasedApp.FeeSSASDB"
          folder="Recon Fee"
          databaseName="Retail Recon Fee"
          deploymentError="Deploying Fee SSAS database failed" />
  </cubes>
</package>